<div class="row">

  <div class="col-12 col-md-6 mb-3">
    <span class="badge bg-dark">Food</span>
    <h1><%= food.name %></h1>
  </div>

  <div class="col-6 col-md-3 text-center mb-3">
    <span class="badge bg-dark">Price</span>
    <p><%= food.price %></p>
  </div>

  <div class="col-6 col-md-3 text-center mb-3">
    <span class="badge bg-dark">Quantity</span>
    <p><%= "#{food.quantity} #{food.measure_unit}" %></p>
  </div>

</div>
