@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$padding: 10px;
$image-circle-size: 100px;
$transition: 0.5s;

//Colors
$color-background: white;
$danger: #fd3654;
$primary: #129575;
$silver: #d9dadb;

html {
  font-size: 16px;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: $color-background !important;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  height: 100px;
  justify-content: center;
  width: 100%;

  h5 {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

h1 {
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

.comment {
  color: dimgray;
  font-size: 0.8em;
  font-style: italic;
}

.display-flex {
  align-items: center;
  display: flex;
  justify-content: end;
}

.btn-href {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.wd {
  &-60 {
    width: 60px;
  }

  &-80 {
    width: 80px;
  }

  &-100 {
    width: 100px;
  }

  &-120 {
    width: 120px;
  }
}

.highlight {
  align-items: flex-end;
  border-bottom: 1px solid darken($silver, 10%);
  color: dimgrey;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: $padding/2;
  padding: $padding/2 0;

  p {
    margin: 0;
    padding: 0;
  }
}

.image-link {
  align-items: center;
  background-color: rgba($primary, 0.5);
  color: white;
  display: flex;
  font-size: 1.5rem;
  height: $image-circle-size;
  justify-content: center;
  opacity: 0;
  transition: $transition;
  user-select: none;
  width: $image-circle-size;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transition: $transition;
  }
}

.image-circle {
  background: $silver url('empty_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: $silver solid 2px;
  border-radius: $image-circle-size/2;
  height: $image-circle-size;
  overflow: hidden;
  transition: $transition;
  width: $image-circle-size;
}

.card-image {
  margin-bottom: $padding*2;
  margin-top: $image-circle-size/2;
  padding-top: $image-circle-size/2;

  h5 {
    font-weight: 500;
    font-size: 1.1rem;
  }

  .icon-link {
    align-items: center;
    background: white;
    border-radius: 100%;
    color: darken($silver, 33%);
    display: flex;
    height: 32px;
    justify-content: center;
    text-decoration: none;
    width: 32px;

    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }
}

.icon-time {
  height: 48px;
  width: 48px;
}


@media only screen and (min-width: 768px) {
  .icon-time {
    height: 64px;
    width: 64px;
  }
}

@import "bootstrap";
