$padding: 10px;
$user-image-size: 80px;
$transition: 0.5s;

//Colors
$color-background: #d5f5e3;
$primary: #8e44ad;

body {
  background-color: $color-background !important;
}

.img-link {
  opacity: 1;
  transition: $transition;

  &:hover {
    opacity: 0.5;
    transition: $transition;
  }
}

.no-resize {
  resize: none;
}

.title-link {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.user-card {
  margin: $padding*4 0 $padding*2 0;
}

.user-image {
  border-radius: $user-image-size/2;
  height: $user-image-size;
  width: $user-image-size;

  &-profile {
    // margin-top: $padding/2;
    position: absolute;
    right: $padding*2;
    top: ($user-image-size/2) * -1;
  }
}

@import "bootstrap";
