@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$padding: 10px;
$user-image-size: 80px;
$transition: 0.5s;

//Colors
$color-background: white;
$primary: #129575;

body {
  background-color: $color-background !important;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold !important;
}


@import "bootstrap";
